<div class="">
  <a class="logo" routerLink="/"><i class="fab fa-staylinked"></i> </a>
  <nav class="navbar">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/route-one"
          ><i class="fas fa-link nav-icon"></i>Route One</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/route-two"
          ><i class="fas fa-vector-square nav-icon"></i>Route Two</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/route-three"
          ><i class="fas fa-draw-polygon nav-icon"></i>Route Three</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/route-four"
          ><i class="fas fa-bezier-curve nav-icon"></i>Route Four</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/route-five"
          ><i class="fab fa-think-peaks nav-icon"></i>Route Five</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/route-six"
          ><i class="fas fa-chart-line nav-icon"></i>Route Six</a
        >
      </li>
    </ul>
  </nav>
</div>
