table {
  width: 100%;
  margin: auto;
  color: #212529;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  text-align: left;
  text-transform: capitalize;

  thead {
    tr{
      background-color: #dddddd;
    }
  }

  th {
    cursor: pointer;
    .fa-sort {
      visibility: hidden;
    }
    &:hover .fa-sort {
      visibility: visible;
    }
  }

  th,
  td {
    border: 1px solid #dee2e6;
    padding: 5px 10px;
  }
}
