<div class="navigation-items">
  <ul>
    <li>
      <a routerLink="/route-one"
        ><span><i class="fas fa-link"></i>Route One</span></a
      >
    </li>
    <li>
      <a routerLink="/route-two"
        ><span><i class="fas fa-vector-square"></i>Route Two</span></a
      >
    </li>
    <li>
      <a routerLink="/route-three"
        ><span><i class="fas fa-draw-polygon"></i>Route Three</span></a
      >
    </li>
    <li>
      <a routerLink="/route-four"
        ><span><i class="fas fa-bezier-curve"></i>Route Four</span></a
      >
    </li>
    <li>
      <a routerLink="/route-five"
        ><span><i class="fab fa-think-peaks"></i>Route Five</span></a
      >
    </li>
    <li>
      <a routerLink="/route-six"
        ><span><i class="fas fa-chart-line"></i>Route Six</span></a
      >
    </li>
  </ul>
</div>
